*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background:black;
    color: white;
}

/* navbar */

header{
    background:rgb(8, 0, 0);
    padding: 20px 50px;
    position: sticky;
    top: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display:flex;
    list-style: none;
}
nav ul li{
    margin-left: 25px;
    /* color: white; */
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    /* background-color: aliceblue; */
    color:cyan;
}
.logo{
    color:cyan;

}


/* home page */
.home{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.home h2{
    font-size: 30px;
    /* color: cyan; */
}
.home h1{
    font-size: 60px;
    color: cyan;
}
.home p{
    font-size: 40px;
    color: white;
}
.btn{
    display:inline-block;
    padding: 12px 25px;
    background-color: cyan;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 25px;
}

/* about */


.about{
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.about h2{
    font-size: 40px;
    height: 40px;
    color:cyan;
    margin-top: 75px;
    margin-bottom: 20px;
}
.about h3{
    font-size: 30px;
    color: cyan;
    text-align: left;
}
.about p{
    font-size: 20px;
    color: white;
    text-align:justify;
    line-height: 1.5;
}
.about ul{
    text-align: left;
    margin-left: 20px;
}


/* projects */

.projects{
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.projects h2{
    font-size: 40px;
    height: 40px;
    color:cyan;
    margin-top: 75px;
    margin-bottom: 20px;
}
.projects h3{
    font-size: 30px;
    text-align: left;
}
.projects p{
    font-size: 20px;
    color: white;
    text-align:justify;
    line-height: 1.5;
}

/* Contact */

.contact{
    height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.contact h2{
    font-size: 40px;
    height: 50px;
    color:cyan;
    margin-top: 200px;
    margin-bottom: 20px;
}
.contact p{
    font-size: 20px;
    color: white;
    line-height: 1;
}
.contact-info{
    border: 1px solid cyan;
    padding: 20px;
    margin: 20px auto;
    width: 600px;
    border-radius: 50px;
}

/* media icon */
.media{
    background-color:cyan
     ;
    height: 50px;
    width: 400px;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    border-radius: 5px;
}
.media img{
    margin-top: 2px;
    margin-bottom: 2px;
    height: 40px;
    width: 40px;
}
